extends layout.pug

block content
	.container.main.text-white
		.row
			p.col-md-6 WELCOME TO MY CAPSTONE PROJECT 
			P Silahkan Masuk Untuk Melakukan Verifikasi Aplikasi.
		button.btn.btn-primary(onclick='authorizeApplication(event)') Login
